# Build
bin/
obj/
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb

# Logs
*.log

# Configs sensíveis
appsettings.json
appsettings.Development.json
appsettings.*.json
**/appsettings.json
**/appsettings.Development.json
**/appsettings.*.json

# Pasta Settings em qualquer projeto
**/Settings/

# Arquivos de exemplo podem subir
!**/appsettings.Modelo.json
!**/appsettings.example.json